table {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

.numeros, .texto, .subtitulos, .vacio {
  width: 100px;
  border: 1px solid rgb(212, 210, 210);
}

i {
  transform: rotate(45deg) scale(1.2);
  padding-left: 10px;
  padding-bottom: 5px;
}

.columna1 {
  width: 30px;
  background-color: lightgray;
  text-align: center;
}

.fila1 {
  width: 1px;
  height: 100%;
  background-color: lightgray;
  border-top: none;
  text-align: center;
}

.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  background-color: rgb(255, 191, 0);
  color: rgb(155, 152, 152);
}

.subtitulos {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  background-color: rgb(183, 213, 159);

}

.numeros {
  text-align: right;
}

.resumen {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  background-color: lightblue;
}

#celeste {
  background-color: rgb(22, 138, 234);
}

 